* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: rgba(153, 237, 173, 0.862);
}

img {
  height: 350px;
  display: block;
  margin: 20px auto;
  box-shadow: 3px 3px 3px 2px rgb(81, 79, 79); 
}

.home {
  background-color: rgb(1, 108, 12); 
  color: white; 
  padding: 15px;
  margin: 20px 0px;  
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 3px 3px 3px 2px rgb(137, 134, 134); 
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 10px;
}