* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: rgba(153, 237, 173, 0.862);
  padding: 15px 5px 5px 5px;
}

img {
  height: 350px;
  display: block;
  margin: 20px auto;
  box-shadow: 3px 3px 3px 2px rgb(81, 79, 79); 
}

.home {
  background-color: rgb(1, 108, 12); 
  color: white; 
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 3px 3px 3px 2px rgb(137, 134, 134); 
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 5px;
}

h3 {
  font-size: 35px;
  margin: 30px 0px 10px 0px;
}

p, ul, ol {
  font-size: 24px;
  margin: 0px;
}

.unordered-home {
  font-size: 28px;
  margin: 10px 0px;
}

.home-heading {
  margin: -5px 0px 30px 0px;
}