* {
  box-sizing: border-box;
}

img {
  height: 350px;
}

.home {
  background-color: rgb(1, 108, 12); 
  color: white; 
  padding: 15px;
  margin: 20px 0px;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 3px 3px 3px 2px rgb(137, 134, 134); 
}